
body{
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;
}
th{
    border: 5px solid rgb(35, 47, 216);
    padding: 5px;
}
td{
    border: 5px solid rgb(13, 32, 199);
    padding: 5px;
    text-align: left;
}
table{
    text-align: right;
    margin-left: 20%;

}